@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

* {
	margin: 0;
	padding: 0;
}

:root {
	--regularFont: 'Days One', sans-serif;
	--bgColor: #548CFF;
	--darkBgColor: #3260bd;
	--softColor: #EC939D;
	--colorWhite: #ffffff;
	--colorYellow: #F4BF96;
	--colorYellowDark: #FFCE38;
	--darkColor: #191825;
	--regularFontSize: 40px;
}

body {
	background-color: var(--bgColor);
	overflow: hidden;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

#game-start-screen,
#level-select-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bgColor);
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

#game-start-screen h1,
#level-select-screen h1 {
	position: absolute;
	bottom: 5%;
	color: var(--colorWhite);
	font-size: 20px;
	font-family: var(--regularFont);
	opacity: 1;
	animation: opacityText 3s ease-in-out infinite;
}

@keyframes opacityText {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#game-start-screen .eye-container,
#level-select-screen .eye-container {
	background-color: transparent;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#game-start-screen .eye,
#level-select-screen .eye {
	width: 400px;
	height: 400px;
	background-color: var(--colorWhite);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 2rem;
	clip-path: circle(50% at center);
	position: relative;
}

#game-start-screen .eye-iris,
#level-select-screen .eye-iris {
	width: 50%;
	height: 50%;
	background-color: var(--darkColor);
	border-radius: 50%;
	animation: movement 6s ease-in-out infinite;
}

#game-start-screen .eye-pupil,
#level-select-screen .eye-pupil {
	width: 100%;
	height: 250px;
	background: var(--colorYellow);
	position: absolute;
	animation: blink 6s ease-in-out infinite;
	z-index: 1;
}

#game-start-screen .upper-pupil,
#level-select-screen .upper-pupil {
	top: 0;
}

#game-start-screen .lower-pupil,
#level-select-screen .lower-pupil {
	bottom: 0;
}

@keyframes movement {

	0%,
	10%,
	30%,
	80%,
	100% {
		transform: translateX(0);
	}

	20% {
		transform: translateX(-80%);
	}

	90% {
		transform: translateX(80%);
	}
}

@keyframes blink {

	0%,
	30%,
	34%,
	38%,
	50%,
	80%,
	100% {
		height: 20%;
	}

	32%,
	36% {
		height: 40%;
	}

	60%,
	70% {
		height: 45%;
	}
}

.game-box {
	width: 100px;
	height: 100px;
	margin: 50px auto;
	background: var(--colorWhite);
	padding: 20px;
	text-align: center;
	position: absolute;
	left: 20%;
	top: 65%;
}

.game-box img {
	width: 90%;
}

.start-box:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid var(--colorWhite);
	border-right: 10px solid transparent;
	border-top: 10px solid var(--colorWhite);
	border-bottom: 10px solid transparent;
	right: -19px;
	top: 6px;
}

#game-start-screen .smile,
#level-select-screen .smile {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 45%;
}

#game-start-screen .smile-mouth,
#level-select-screen .smile-mouth,
#game-start-screen .smile-tongue,
#level-select-screen .smile-tongue {
	position: absolute;
}

#game-start-screen .smile-mouth:before,
#level-select-screen .smile-mouth:before,
#game-start-screen .smile-mouth:after,
#level-select-screen .smile-mouth:after {
	position: absolute;
	content: "";
}

#game-start-screen .smile--yay .smile-face,
#level-select-screen .smile--yay .smile-face {
	animation: yay 3s linear infinite alternate;
}

#game-start-screen .smile--yay .smile-mouth,
#level-select-screen .smile--yay .smile-mouth {
	position: absolute;
	background: transparent;
}

#game-start-screen .smile--yay .smile-mouth:after,
#level-select-screen .smile--yay .smile-mouth:after {
	width: 180px;
	height: 180px;
	left: calc(-50% - 40px);
	top: -75px;
	border-radius: 50%;
	background: transparent;
	border: 16px solid var(--darkColor);
	box-sizing: border-box;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	z-index: 1;
}

@keyframes yay {
	25% {
		transform: rotate(-15deg);
	}

	75% {
		transform: rotate(15deg);
	}
}

.debug-info {
	opacity: 0;
}

.gameUI {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: var(--regularFontSize);
	color: var(--colorWhite);
	vertical-align: baseline;
	font-weight: 700;
	margin-top: 2%;
	user-select: none;
}

.gameUI .timer-design,
.gameUI .score-design {
	display: flex;
}

.gameUI .timer-design img,
.gameUI .score-design img {
	width: 10%;
	height: 10%;
}

#gameplay-screen {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

@keyframes opacityText {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#gameplay-screen .eye-container {
	background-color: transparent;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#gameplay-screen .eye {
	width: 450px;
	height: 450px;
	background-color: var(--colorWhite);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 2rem;
	clip-path: circle(50% at center);
	position: relative;
}

#gameplay-screen .smile {
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 45%;
}

#gameplay-screen .smile-mouth,
#gameplay-screen .smile-tongue {
	position: absolute;
}

#gameplay-screen .smile-mouth:before,
#gameplay-screen .smile-mouth:after {
	position: absolute;
	content: "";
}

#gameplay-screen .smile--yay .smile-face {
	animation: yay 3s linear infinite alternate;
}

#gameplay-screen .smile--yay .smile-mouth {
	position: absolute;
	background: transparent;
}

#gameplay-screen .smile--yay .smile-mouth:after {
	width: 180px;
	height: 180px;
	left: calc(-50% - 40px);
	top: -75px;
	border-radius: 50%;
	background: transparent;
	border: 16px solid var(--darkColor);
	box-sizing: border-box;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	z-index: 1;
}

.block {
	position: absolute;
	width: 100px;
	height: 100px;
}

.block_1,
.block_2,
.block_3,
.block_4,
.block_5,
.block_6 {
	cursor: pointer;
}

.block:hover {
	transform: scale(1.2);
}


#tutorial-screen,
#victory-screen,
#lose-screen {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	color: var(--colorWhite);
}

#victory-screen {
	flex-direction: column;
}

#victoryScore {
	display: block;
	font-size: 50px;
}

.start-controls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--bgColor);
	height: 100vh;
	width: 100vw;
	z-index: 9999;
	gap: 2rem;
}

.start-controls h2 {
	color: var(--colorWhite);
	font-size: 20px;
	font-family: var(--regularFont);
	opacity: 1;
	font-size: 2rem;
	animation: opacityText 2s ease-in-out infinite;
}

.start-controls button {
	background-color: var(--colorWhite);
	color: var(--darkColor);
	border: none;
	padding: 1rem 2rem;
	font-size: 1rem;
	font-family: var(--regularFont);
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.3s ease;
	position: relative;
	width: 200px;
	font-family: var(--regularFont);
}

.start-controls button::before {
	content: "";
	position: absolute;
	left: -60px;
	top: 50%;
	transform: translateY(-50%) scale(0.8);
	width: 48px;
	height: 48px;

	background-image: url("../images/icon_00.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}

.start-controls button:hover {
	background-color: var(--colorYellowDark);
	transform: scale(1.1);
}

.start-controls button:hover::before {
	opacity: 1;
	transform: translateY(-50%) scale(1);
}

#imageDisplay {
	font-size: 2rem;
	font-weight: bold;
	color: var(--colorWhite);
	text-align: center;
	line-height: 1;
}